[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
googletrans = "==4.0.0-rc1"
Pillow = ">=10.0.1"
google_trans_new = "*"
deep-translator = "*"
opencv-python = "*"
tesseract = "*"

[dev-packages]
tesseract-ocr-jpn = "*"
tesseract-ocr-jpn-vert = "*"
tesseract-ocr-kor = "*"
tesseract-lang = "*"

[requires]
python_version = "3.10"
